---
layout: default
---
<article class="post">
  <header class="post__header">
    <h1 class="post__title">{{ page.title }}</h1>
    <div class="post__meta">
      <time class="post__date" datetime="{{ page.date | date_to_xmlschema }}">
        {{ page.date | date: "%B %-d, %Y" }}
      </time>
      {% if page.author %}
        <span class="post__author">by {{ page.author }}</span>
      {% endif %}
    </div>
  </header>
  {% if page.image_landscape or page.image_portrait %}
  <div class="post__hero-image">
    {% include responsive-image.html
      landscape=page.image_landscape
      portrait=page.image_portrait
      alt=page.image_alt
      loading="eager"
    %}
  </div>
  {% endif %}
  <div class="post__content">
    {{ content }}
  </div>
</article>
